*{
    margin: 0;
    padding: 0;
}
.home_adaptable{
    display: none;
}

/*----------------------------------------------CAJAS PRINCIPALES-----------------------------------------------*/
main{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.container{
    width: 85%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.colum{
    width: 15%;
    background-color: #ffff00;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.footer{
    width: 100%;
    background-color: #10455B;
}

/*-------------------------------------------CAJA CONTENIDO-----------------------------------------------*/

/*------------------------------------------ENCABEZADO-----------------------------------------------------*/

.encabezado{
    box-shadow: 1px 1px 15px hsla(5, 1%, 1%, .3);
}

.barra{
    width: 100%;
    background-color: #ffff00;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 7px hsla(5, 1%, 1%, .6);
}
    .imagen{ width: 95%;}
    .caja_boton{ width: 5%;}
    .imagen img{
        width: 40%;
        margin: 2%;
    }
    .boton_{
        font-size: 1.5em;
        position: relative;
        background-color: #ffff00;
        border: 0;
        color: #10455B;
        padding: 15px;
    }
        .boton_ ul{ 
            display: none;
            position: absolute;
            list-style: none;
            text-align: left;
            margin: 15px -10px;
            background-color: #ffff00;
            padding: 10px;
            font-size: .8em;
        }
        .item_ a{
            display: block;
            text-decoration: none;
            padding: 10px;
            margin: 5px;
            color: #10455B;
        }
        .item a:hover{ color: #F9FAF5; transition: .5s;	}
        .boton_:hover ul{
        	display: block;
        }

/*-----------------------------------------------------------------------*/
/*---------------------------------MENU--------------------------*/
.menu{
    text-align: center;
}
    .bar_menu{
        width: 90%;
        margin: 15px auto;
        background-color: #F9FAF5;
        border-radius: 50px;
        box-shadow: 1px 1px 10px hsla(5, 1%, 1%, .3);
        font-size: 10px;
        display: inline-block;
        text-align: left;
        padding: 0 1% 0 5%;
    }
    .item{
        display: inline-block;
        padding: 0;
        margin: 1%;
        list-style: none;
    }
    .linea{ 
        font-size: 3em; 
        color: #10455B;
    }
    .item a{
        text-decoration: none;
        /*padding: 15px;*/
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 2em;
        color: #10455B;
    }
    .item a i{ color: #51514D;}
    .item a:hover{ color: #FFEF38; transition: .5s;}
/*---------------------------------------------------------------------*/

/*--------------------------------REDES---------------------------------*/

.container_redes{
    text-align: right;
    font-size: 16px;
}
    .bar-redes{
        list-style: none;
    }
        .bar-redes li{
            display: inline-block;
            margin: 1%;   
        }
        .bar-redes a i{ 
            padding: 5px 10px;
            color: #0903A7;
            display: inline-block;
            font-size: 1.5em;
        }
/*-------------------------------------------------------------------------*/

/*--------------------------------------HOME-------------------------------*/

.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
}
    .home img{
        width: 60%;
    }
    .home h1{
        width: 40%;
        text-align: right;
        font-style: italic;
        color: #10455B;
        font-size: 2em;
        margin-right: 10%;
    }
        .home h1 span{
            margin-right: -15%;
        }

/*------------------------------------CONTENIDO------------------------------*/

.caja{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1% 0 5%;
}
.reverse{
    flex-direction: row-reverse;
}
    figure{
        width: 50%;
        padding: 2%;
        text-align: center;
    }
        .caja figure img{
            width: 100%;
            border-radius: 10px;
        }
    .tag_box{
        width: 30%;
        padding: 2%;
        font-family: 'Noto Serif', serif;
        font-size: 1.5em;
        color: #10455B;
    }
    .boton{
        width: 8%;
        padding: .5%;
        border: 0;
        font-size: 2em;
        background-color: #ffff00;
        border-radius: 50px;
    }
        .boton a i{ color: #10455B;}
        .boton a i:hover{ color: white; transition: .5s;}


/*---------------------------------COLUMNA-----------------------------------*/

.colum div{
    background-color: #ffff00;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.colum figure{
    width: 100%;
    background-color: #ffff00;
    height: 5%;
    display: flex;
    align-items: center;
}
.colum div p{
    transform: rotate(270deg);
    width: 100%;
    font-size: 22em; 
    color: white;
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
}
/*---------------------------------FOOTER------------------------------------*/
.footer{
    background-color: #10455B;
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #F9FAF5;
    font-size: 1em;
}
    .caja_redes{ width: 40%;}
    .caja_inst{ width: 30%;}
    .caja_derec{ width: 30%;}
    .pie{ margin: 0; text-align: center;}
    .redes li{
        list-style: none;
        display: inline-block;
    }
    .redes li a{ 
        color: #F9FAF5;
        padding: 10px 15px;
        display: inline-block;
        font-size: 2.2em;
    }
/*----------------------------------------------------------ADAPTABLE--------------------------------------------------------------------------*/

@media( max-width: 2560px){
    .barra{ display: none;}
}

@media( max-width: 1024px){
    .colum div p{ font-size: 18em;}
    .boton{ font-size: 1.5em;}
}

@media ( max-width: 768px){
    .colum div p{ font-size: 12em;}
    .boton{ font-size: 1em;}
    .item a{ font-size: 1.5em;}
    .linea{ font-size: 2.5em;}
    .home h1{ font-size: 1.5em;}
    .home h1 span{ margin-right: -20%;}
    .tag_box{ font-size: 1.4em;}
}

@media( max-width: 767px){

    .colum{ display: none;}
    .container{ width: 100%;}
    .barra{ display: flex;}
    .menu{ display: none;}
    .container_redes{ display: none;}
    .home{ margin-top: 15%;}
    .caja_redes{ width: 80%;}
    .caja_inst{ width: 50%;}
    .caja_derec{ width: 50%;}
    .footer{ height: 100px; font-size: .8em;}
    .redes li a{ font-size: 2.2em;}
    figure{ width: 80%;}
    .tag_box{ width: 60%;}
    .reverse{ flex-direction: row;}
    .caja figure img{ width: 60%;}
    .boton{ font-size: 1em; width: 12%; padding: 1%;}
}

@media (max-width: 480px){
    .home h1{ font-size: 1em;}
    .caja figure img{ width: 80%;}
    .tag_box{ 
        width: 70%;
        height: 35px;
        display: flex;
        align-items: center;
        font-size: .8em;
        background-color: #ffff00;
        margin-left: -10%;
        position: relative;
        -webkit-box-shadow: 0px 15px 15px -10px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 15px 15px -10px rgba(0,0,0,0.25);
box-shadow: 0px 15px 15px -10px rgba(0,0,0,0.25);
    } 
    .tag_box p{ padding-right: 10px;}
        .tag_box::after{
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: transparent white transparent transparent;
            border-width: 25px 25px 25px 25px;
        }
    .boton{ margin-left: 5%;}
}

@media (max-width: 425px){
    .home h1{ font-size: .7em;}
}