*{ 
	margin: 0;
	padding: 0;
}

body{ 
	background-image: url("../images/textura.png");
	background-repeat: repeat;
}
/*-----------------------------------------------------------------BARRA LOGO---------------------------------------------------*/
.barra_logo{
    background-color: hsla(60, 100%, 50%, 1);
    width: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: row-reverse;
    top: 0;
	box-shadow: 1px 1px 7px hsla(5, 1%, 1%, .6);
}
	.imagen{ width: 95%;}
	.caja_boton{ width: 5%;}
	.barra_logo img{ width: 25%;}
	.boton{
		padding: 15px;
		position: relative;
		font-size: 2em;
		background-color: #ffff00;
		border: 0;
		color: #10455B;
	}
	.boton ul{
		margin: 15px -10px;
		display: none;
		list-style: none;
		text-align: left;
		font-size: .8em;
		background-color: #ffff00;
		padding: 10px 35px;
		position: absolute;
	}
	.item a{
		display: block;
		text-decoration: none;
		padding: 10px;
		margin: 5px;
		color: #10455B;
	}
	.item a:hover{ color: #F9FAF5; transition: .5s;	}
	.boton:hover ul{
		display: block;
	}

/*--------------------------------------TITULO-----------------------------*/

.titulo{
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 7% 0 0;
	font-size: 2em;
	color: #10455B;
}
	.titulo h1{
		font-family: 'Playball', cursive;
		font-style: italic;
		font-size: 3em;
	}
	.titulo h3{
		padding: 1%;
	}

/*--------------------------------------CAJAS-------------------------------*/
.container{
	width: 100%;
	padding: 1% 0;
	background-color: #F9F9ED;
	box-shadow: 1px 1px 8px #000;
}
.caja{
	width: 80%;
	margin: 5% auto;
	padding: 1%;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	background-color: #10455B;
	box-shadow: 1px 1px 7px #000;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
	.caja_img{
		width: 50%;
		text-align: center;
	}
		.caja_img img{
			padding: 1% 4%;
			width: 90%;
		}
	.texto{
		width: 40%;
		padding: 2% 0 5%;
	}
		.texto h2{
			font-size: 2em;
			padding: 2% 0;
		}
		.texto p{
			margin-left: 4%;
		}

/*------------------------------------BARRA REDES-----------------------------*/

.barra_redes{
	position: fixed;
	top: 150px;
	left: 0;
	padding: 0;
}	
	.barra_redes ul{ list-style: none; padding: 0;}
	.barra_redes a{
		color: #fff;
		text-decoration: none;
		display: inline-block;
		box-shadow: 1px 1px 7px hsla(5, 1%, 1%, .6);
		padding: 10px 15px;
		font-size: 1.5em;
	}
	.insta{ background-color: #C13584}
	.face{ background-color: #4267B2;}
	.mail{ background-color: #000;}
	.whap{ background-color: #4AC959;}
	.barra_redes ul li .mail{ padding: 10px 14px;}
	.barra_redes a:hover{ padding: 10px 30px; transition: .3s;}
	.barra_redes ul li .mail:hover{ padding: 10px 30px;}


/*------------------------------------PIE DE PAGINA--------------------------*/

.footer{
    background-color: #10455B;
    width: 100%;
    height: 150px;
	display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #F9FAF5;
	font-size: 1em;
}
	.pie{ margin: 0; text-align: center;}
	.caja_redes{ width: 40%;}
	.caja_inst{ width: 30%;}
	.caja_derec{ width: 30%;}
    .redes li{
        list-style: none;
        display: inline-block;
    }
	.redes li a{ 
		display: inline-block;
		color: #F9FAF5;
		padding: 10px 15px;
		font-size: 2.2em;
	} 
	
/*--------------------------------------------------------------ADAPTABLE------------------------------------------------------------------*/

@media(max-width: 1024px){

}

@media(max-width: 768px){
	.barra_redes{ display: none;}
	.titulo h3{ font-size: 1em;}
	.boton{ font-size: 1.5em;}
	.imagen img{ width: 40%;}
	.caja{ flex-direction: column;}
	.caja_img img{ width: 60%;}
	.texto{ width: 95%;}
	.footer{ height: 100px;}
	.caja_redes{ width: 80%;}
	.caja_inst{ width: 50%;}
	.caja_derec{ width: 50%;}
	.redes li a{ font-size: 2em;}
}

@media( max-width: 767px){

	.titulo h1{ font-size: 2.5em;}
	
}

@media( max-width: 480px){

	.titulo h1{ font-size: 2em;}
	.titulo h3{ font-size: .8em;}
	.caja_img img{ width: 90%;}
	.texto h2{ font-size: 1.5em;}
	.texto p{ font-size: .8em;}
}

@media( max-width: 375px){

	.titulo h1{ font-size: 1.5em;}
	.titulo h3{ font-size: .5em;}
}