*{ margin: 0; padding: 0;}
body{
    background-image: url("../images/textura.png");
    background-repeat: repeat;
}

/*--------------------------------BARRA LOGO--------------------------------*/

.barra_logo{
    background-color: #ffff00;
    width: 100%;
    text-align: center;
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row-reverse;
    top: 0;
    box-shadow: 1px 1px 7px hsla(5, 1%, 1%, .8);
}
    .barra_logo img{ width: 30%; margin: 1%;}
    .imagen{ width: 95%;}
    .caja_boton{ width: 5%}
    .boton{
        margin: 1.5% 3%;
        padding: 15px;
        position: relative;
        font-size: 2em;
        background-color: #ffff00;
        border: 0;
        color: #10455B;
    }
    .boton ul{
        margin: 15px -10px;
        display: none;
        list-style: none;
        text-align: left;
        font-size: .8em;
        background-color: #ffff00;
        padding: 10px 35px;
        position: absolute;
    }
    .item_menu a{
        text-align: left;
        display: inline-block;
        text-decoration: none;
        padding: 15px 40px 5px 10px;
        margin: 5px;
        color: #10455B;
    }
    .item_menu a:hover{ color: #F9FAF5; transition: .5s; }
    .boton:hover ul{
        display: block;
    }

/*-------------------------------INICIO--------------------------------------*/
.inicio{
    margin: 7% 0 0;
    width: 100%;
    height: 17em;
    color: #10455B;
    font-size: 2em;
    font-weight: bold;
}
    .inicio h1{
        display: inline-block;
        width: 50%;
        font-family: 'Playball', cursive;
        font-style: italic;
        padding: 5% 7% 2%;
        font-size: 3em;
    }
    .inicio ul li{
        margin: 0 30px;
        display: inline-block;
        padding: 10px 40px;
        list-style: none;
        font-family: 'Open Sans', sans-serif;
    }

/*-------------------------------------CONTENIDO-------------------------------------*/

.contenido{
    margin: 0;
    background-color: #F9F9ED;
    box-shadow: 1px 1px 7px #86867F;
}

/*-------------------------------------TITULO----------------------------------------*/

.contenido .titulo{
    padding: 5%;
    text-align: center;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #10455B;
}

/*-------------------------------------CONTENEDOR------------------------------------*/

.contenedor{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 2%;
}
    .caja{
        background-color: #fff;
        width: 18%;
        padding: 2% 2% 1%;
        margin: 1%;
        box-shadow: 1px 1px 7px gray;
        text-align: center;
        color: #50504E;
        font-family: 'Open Sans', sans-serif;
    }
    .caja h2{
        font-size: 3em;
        padding: 5%;
        color: #ffff00;
        font-family: 'Acme', sans-serif;
    }
    .caja a{
        color: #50504E;
        font-weight: bold;
        text-decoration: none;
    }

/*-------------------------------------IMPORTANTE------------------------------------*/

.mensaje{
    width: 60%;
    margin: 10% auto;
    background-color: #10455B;
    text-align: center;
    padding: 5%;
    font-size: 1em;
    border-radius: 20px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 1px 1px 7px #000;
}
    .mensaje h2{ font-size: 2em; padding: 0 0 5%; color: #fff}

/*------------------------------------BARRA REDES------------------------------------*/

.barra_redes{
	position: fixed;
	top: 200px;
	left: 0;
	padding: 0;
}	
	.barra_redes ul{ list-style: none; padding: 0;}
	.barra_redes a{
		color: #fff;
		text-decoration: none;
		display: inline-block;
		box-shadow: 1px 1px 5px #000;
		padding: 10px 15px;
		font-size: 1.5em;
	}
	.insta{ background-color: #C13584}
	.face{ background-color: #4267B2;}
	.mail{ background-color: #000;}
	.whap{ background-color: #4AC959;}
	.barra_redes ul li .mail{ padding: 10px 14px;}
	.barra_redes a:hover{ padding: 10px 30px; transition: .3s;}
	.barra_redes ul li .mail:hover{ padding: 10px 30px;}

/*------------------------------------PIE DE PAGINA-----------------------------------*/

.footer{
    background-color: #10455B;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF5;
    font-size: 1em;
}
    .caja_redes{ width: 40%;}
    .caja_inst{ width: 30%;}
    .caja_derec{ width: 30%;}
    .pie{ margin: 0; text-align: center;}
    .redes li{
        list-style: none;
        display: inline-block;
    }
    .redes li a{ 
        color: #F9FAF5;  
        padding: 10px 15px;
        display: inline-block;
        font-size: 2.2em;
    }

/*---------------------------------------------------------------ADAPTABLE-----------------------------------------------------------------*/

@media( max-width: 480px){
	.barra_redes{
		display: none;
	}

	.boton{ font-size: 1.5em;}

	.barra_logo img{ margin: 2%; width: 40%;}

	.boton ul{
		margin: 15px -10px;
		padding: 10px;
    }

    .inicio{
        margin: 12% 0 0;
        font-size: 1em;
        height: 12em;
    }
        .inicio h1{ width: 90%; font-size: 2.5em; padding: 10% 0 0; text-align: center; margin: 0 5%;}
        .inicio ul{ margin: 5%;}
        .inicio ul li{ font-size: .8em; padding: 1%; margin: 0;}

    .contenido .titulo{ font-size: 1em;}
    .contenedor{ flex-direction: column; width: 90%;}
    .caja{ width: 60%; margin: 2% auto;}
        .caja h2{ font-size: 2em; padding: 2%;}
        .caja p{ font-size: .8em;}

    .mensaje{ width: 80%;}
        .mensaje h2{ font-size: 1em;}
        .mensaje p{ font-size: .7em;}

    .footer{ 
        height: auto;
        padding: 5% 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: .8em;
    }
    .caja_redes{ width: 60%;}
    .caja_inst{ width: 50%;}
    .caja_derec{ width: 50%;}
    .redes li a{ font-size: 1.5em; padding: 10px;}
}