* {
  padding: 0;
  margin: 0;
}

.barra_logo {
  background-color: #F4F4F4;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 1px 1px 7px hsla(5, 1%, 1%, 0.3);
}
  .boton_home{
    width: 20%;
    text-align: left;
    padding: 1% 2%;
  }
    .boton_home a i{ 
      font-size: 2.2em;
      color: #10455B;
    }
    .boton_home a i:hover{ color: #fffF00; transition: .3s;}

.imagen {
  width: 25%;
}
  .imagen img{ width: 100%;}

.caja_boton{
  width: 20%;
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}
  .boton{
    width: 25%;
    font-size: 1.5em;
    margin: 1px;
    text-align: center;
  }
    .boton i{ color: #10455B;}
    .boton i:hover{ color: #ffff00; transition: .3s;}

/*---------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------*/

.home {
  width: 100%;
  display: flex;
  margin: 2% 0;
  align-items: center;
  justify-content: left;
}

.img-home {
  width: 50%;
  margin-left: -1% ;
}
.home figure img {
  width: 100%;
}

.home p {
  margin: 1%;
  width: 40%;
  text-align: left;
  font-size: 20px;
}

/*------------------------------------------------------------------*/
.container-dest {
  width: 100%;
  margin-top: 5%;
}

.container-dest h2 {
  text-align: center;
  font-size: 2.5em;
}
.destacados {
  display: flex;
  width: 95%;
  margin: 1% auto;
}
.product-dest {
  width: 25%;
  background-color: #ffff00;
  margin: 1%;
}
.product-dest img {
  width: 100%;
}

/*-------------------------------------------------------------------------*/

.container-catalogo {
  display: flex;
  background-color: aliceblue;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.category {
  background-color: #fff;
  margin: 1%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
}
.category img {
  width: 80%;
}
.category i {
  position: absolute;
  right: 10px;
  bottom: 5px;
}
